doctype html
html(ng-app='fpdbengine')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='/bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/javascript/controllers.js')
    script(src='/javascript/directives.js')
    script(src='/javascript/models.js')
    script(src='app.js')
  body(ng-controller='AppController')
    ng-include(ng-if='needLogIn()', src="'/views/login.tpl.html'")
    ng-include(ng-if='!needLogIn()', src="'/views/dashboard.tpl.html'")